nav {
    height: 10vh;
    background-color: #f81c32;
}

nav a,
.navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-brand {
    color: #f81c32;
}

.navbar-brand:hover {
    color: #f81c32;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #f81c32;
}

.navbar-nav .nav-item .active {
    color: #f81c32;
}

.carousel {
    height: 90vh;
}

.carousel-button {
    color: #f81c32;
}

.carousel-inner {
    height: 90vh;
}

.carousel-item {
    position: relative;
}

.carousel-item .details {
    position: absolute;
    top: 220px;
    left: 150px;
}

.carousel-item .details h1 {
    font-size: 50px;
    color: #f81c32;
}

.carousel-item .details p {
    color: white;
    font-size: 22px;
}

.carousel-item .details a {
    text-decoration: none;
    color: #f81c32;
    border: 1px solid #f81c32;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    text-align: center;
    border-radius: 30px;
}

.carousel-item .details a:hover {
    background-color: #f81c32;
    color: white;
}

.about-container {
    background-color: #f81c32;
    margin-bottom: 20px;
}

.about-container h2 {
    color: white;
    padding: 5px;
}

.about-section {
    padding-bottom: 60px;
}

.about-section p {
    margin-top: 20px;
    font-size: 18px;
    color: white;
}

.about-section a {
    text-decoration: none;
    color: #f81c32;
    border: 1px solid #f81c32;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    text-align: center;
    border-radius: 30px;
}

.about-section a:hover {
    background-color: #f81c32;
    color: white;
}

.service-section {
    padding-bottom: 60px;
}

.service-container {
    background-color: #f81c32;
    margin-bottom: 20px;
}

.service-container h2 {
    color: white;
    padding: 5px;
}

.service-section p {
    font-size: 18px;
    color: white;
}

.service-section a {
    text-decoration: none;
    color: #f81c32;
    border: 1px solid #f81c32;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    text-align: center;
    border-radius: 30px;
}

.service-section a:hover {
    background-color: #f81c32;
    color: white;
}

hr {
    margin: 0;
    color: white;
}

.info {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .img-container {
    height: 350px;
    width: 350px;
}

.info .img-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.info .details {
    margin: 50px;
}

.info .details h3 {
    color: #f81c32;
}

.info .details p {
    color: white;
    width: 650px;
}

.why-us {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-us .img-container {
    width: 350px;
    height: 350px;
}

.why-us .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.about-us .why-us .details {
    width: 650px;
}

.about-us .why-us .details h3 {
    color: #f81c32;
}

.about-us .why-us .details ul {
    list-style: none;
    padding-left: 0;
    padding-right: 20px;
}

.about-us .why-us .details ul li {
    color: white;
    margin: 10px;
}

.about-us .why-us .details ul li img {
    width: 20px;
}

.offers {
    padding: 50px;
}

.offers .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.offers .card {
    margin: 10px;
    border: 1px solid white;
}

.offers .card-body h5 {
    color: #f81c32;
}

.offers .card-body p {
    font-size: 13px;
    color: white;
}

.offers .card-body .book-now {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.offers .card-body .book-now a {
    text-decoration: none;
    color: #f81c32;
    border: 1px solid #f81c32;
    background-color: transparent;
    padding: 10px 100px;
    border-radius: 10px;
}

.offers .card-body .book-now a:hover {
    background-color: #f81c32;
    color: white;
}

.booking h3 {
    text-align: center;
    color: #f81c32;
    padding: 50px;
    margin: 0;
}

.booking form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.booking form input {
    height: 40px;
    margin: 10px;
    width: 330px;
    border: none;
    background-color: rgba(67, 67, 67, 0.6);
}

.booking form .name-container input {
    width: 158px;
    margin: 5px;
}

.booking form button {
    color: #f81c32;
    background-color: transparent;
    border: 1px solid #f81c32;
    margin-top: 20px;
    padding: 10px 100px;
    border-radius: 30px;
}

.booking form button:hover {
    background-color: #f81c32;
    color: white;
}

footer {
    padding-top: 50px;
    margin-bottom: 0;
}

footer h3 {
    color: #f81c32;
    font-size: 20px;
}

footer h3 a {
    text-decoration: none;
    color: #f81c32;
}

footer h3 a:hover {
    color: #f81c32;
}

footer p {
    color: white;
}

footer ul {
    list-style: none;
    padding-left: 10px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a:hover {
    color: #f81c32;
}

footer ul li img {
    height: 20px;
}

footer .copyright {
    text-align: center;
}

footer .copyright p {
    padding-bottom: 10px;
    margin-bottom: 0;
}